$fuentes: ( 
    fuenteFaster: fasterstroker ,
    fuenteGreek: greekfreak ,
    fuenteHiro: hiromisake ,
    fuenteBlankSolid: blankspace-solid ,
    fuenteBlankSketch: blankspace-sketch ,
);
    
$colores: (
    colorHeader:rgb(0, 100, 255),
    colorNav: rgb(0, 150 , 255),
    colorMain: rgb(0, 190, 200),
    colorFooter: aqua,
);