@mixin flexbox ($tipo , $flow , $wrap , $justify , $items , $content){
    display: $tipo;
    flex-direction: $flow;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $items;
    align-content: $content;
};