.principal{
    background-color:  map-get($colores, colorMain );
    height: $alturaMain;
    .ubiH3{
        text-align: center;
        height: 50px;
        .tituloPrincipal{
            font-family: map-get($fuentes, fuenteBlankSolid ) , sans-serif;
            padding: 5px;
            font-size: 36px;
            color: orange;
            align-items: center;
        }
    }
    .card{
        border: 2px solid blue;
        padding: 8px;
        background-color: map-get($colores, colorMain );
        .foto{
            .fotoPiloto{
                border: 4px solid orange;
                padding: 5px;
                width: auto;
                height: 180px;
            }
        }
        .info{
            font-family: map-get($fuentes, fuenteBlankSolid ) , sans-serif ;
            font-size: 22px;
            align-items: center;
            color: orange;            
        }
    }
};