.principal{
    background-color:  map-get($colores, colorMain );
    height: $alturaMain;
    .ubiH3{
        text-align: center;
        height: 90px;
        align-content: flex-end;
        .tituloPrincipal{
            font-family: map-get($fuentes, fuenteBlankSolid ) , sans-serif;
            padding: 5px;
            font-size: 36px;
            color: red;
            align-items: center;
        }
    }
    .card{
        border: 2px solid blue;
        padding: 8px;
        background-color: map-get($colores, colorMain );
        .foto{
            .fotoPiloto{
                border: 4px solid orange;
                padding: 5px;
                width: auto;
                height: 180px;
            }
        }
        .info{
            font-family: map-get($fuentes, fuenteBlankSolid ) , sans-serif ;
            font-size: 22px;
            align-items: center;
            color: orange;            
        }
    }
    .parrafoSimulador{
        padding: 5px;
        font-size: 25px;
        font-family: sans-serif;
        color: orange;
    }
    .btnSimulador{
        height: 200px;
        border: 1px solid red;
        padding: 3px;
        .tituloSimulador{
        font-family: map-get($fuentes, fuenteGreek ) , sans-serif;
        padding: 5px;
        font-size: 28px;
        color: orange;
        align-items: center;
        }
    }
    .btn-Aceptar{
        height: 65px;
    }
};