.pie{
    background-color: aqua;
    padding: 10px;
    height: 250px;
    .foto1{
        padding: 3px;
        border-radius: 80px;
        height: 160px;
        width: auto;
    }
    .comentarios{
        font-family: sans-serif;
        font-size: 17px;
    }
    .foto2{
        padding: 3px;
        border-radius: 30px;
        height: 160px;
        width: auto;
    }
}